<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mwohae.post.dao.PostDao" >

    <select id="retrieveAllPost" resultType="mwohae.post.dto.PostDto">
        select
          id,
          writer,
          title,
          contents,
          love,
          create_date,
          update_date
        from post
    </select>

    <select id="retrieveLimitPostById" resultType="mwohae.post.dto.PostDto">
        select
          id,
          writer,
          title,
          contents,
          love,
          create_date,
          update_date
        from post
        where writer = #{id} and update_date > #{date}
    </select>

    <insert id="createPost" useGeneratedKeys="true" parameterType="mwohae.post.dto.PostDto">
        insert into post (writer, title, contents, love) values (#{writer}, #{title}, #{contents}, #{love})
    </insert>

    <insert id="createPostLike" useGeneratedKeys="true" parameterType="mwohae.post.dto.PostLikeDto">
        insert into likes (user_id, post_id, is_love) values (#{user_id}, #{post_id}, #{is_love})
    </insert>

    <resultMap id="postListMap" type="mwohae.post.dto.PostDto">
        <id property="id" column="id"/>
        <result column="writer" property="writer"/>
        <result column="contents" property="contents"/>
        <result column="title" property="title"/>
        <result column="create_date" property="create_date"/>
        <association property="like" resultMap="likePostListMap"/>
    </resultMap>
    
    <resultMap id="likePostListMap" type="mwohae.post.dto.PostLikeDto">
        <id property="user_id" column="user_id" />
        <id property="post_id" column="post_id" />
    </resultMap>

    <select id="retrieveLikePostList" resultMap="postListMap">
        select
            p.id,
            p.writer,
            p.title,
            p.contents,
            p.create_date
        from post as p
        join likes as l
        on p.id = l.post_id
        where l.user_id = #{userId}
    </select>

    <select id="retrievePostLikes" resultType="mwohae.post.dto.PostLikeDto">
        select
          user_id,
          post_id,
          is_love
        from likes
        where user_id = #{userId}
    </select>

    <delete id="deletePostLike" parameterType="mwohae.post.request.CreatePostLikeRequest">
        delete from likes where user_id = #{user_id} and post_id = #{post_id}
    </delete>
</mapper>