<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sns.message.dao.PostDao" >

    <select id="retrieveAllPost" resultType="sns.message.dto.PostDto">
        select
          id,
          writer,
          title,
          contents,
          love,
          create_date,
          update_date
        from post
    </select>

    <select id="retrieveLimitPostById" resultType="sns.message.dto.PostDto">
        select
          id,
          writer,
          title,
          contents,
          love,
          create_date,
          update_date
        from post
        where writer = #{id} and update_date > #{date}
    </select>

    <insert id="createPost" useGeneratedKeys="true" parameterType="sns.message.dto.PostDto">
        insert into post (writer, title, contents, love) values (#{writer}, #{title}, #{contents}, #{love})
    </insert>

</mapper>