<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sns.message.dao.UserDao" >

    <select id="retrieveAllUser" resultType="sns.message.dto.UserDto">
        select * from user
    </select>

    <select id="retrieveUserByUserId" resultType="sns.message.dto.UserDto" parameterType="java.lang.String">
        select * from user where id = #{user_id}
    </select>

    <insert id="createUser" useGeneratedKeys="true">
        insert into user (id,pw,email,name) values (#{id}, #{pw}, #{email}, #{name})
    </insert>

</mapper>