<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mwohae.generator.dao.PostDao" >

    <insert id="createPost" useGeneratedKeys="true" parameterType="mwohae.generator.dto.PostDto">
        insert into post (writer, title, contents, love) values (#{writer}, #{title}, #{contents}, #{love})
    </insert>

</mapper>